.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(138, 44, 226, 0.2);
    position: sticky;
    top: 0;
    padding: 10px 16px;
    margin-bottom: 10px;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;

}

form input {
    font-size: 16px;
    height: 40px;
    margin-right: 10px;
    line-height: 1.5;
    border: 1px solid #6C8CFF;
    outline-color: #6C8CFF;
    border-radius: 4px;
    color: #808080;

}


input:placeholder-shown {
    border-color: rgb(0, 0, 0, 0.2);
    outline-color: rgb(0, 0, 0, 0.2);
}

.btn {
    display: block;
    width: 91px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: rgb(66, 56, 137);
    color: #FFFFFF;
}

.btn:hover,
.btn:focus {
    background-color: #6C8CFF;
}


 .gallery {
    padding: 0;
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
     /* margin-bottom: -10px; */
 }



.photo-thumb {
    width: 100%;
    overflow: hidden;
}

 .photo-card {
    flex-basis: 100%;
 }

 .photo-card:hover,
 .photo-card:focus {
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
 }

 .photo-card-img {
    height: 200px;
    width: 100%;
 }


 .link {
    display: block;
    max-width: 100%;
   
 }

  .info {
    flex-grow: 1;
    font-size: 14px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 } 

 
 .info-item {
    display: flex;
    flex-direction: column;
    align-items:center;
 }
/* 
 .info-item:not(:last-child) {
     margin-right: 5px;
 } */







.loader {

    border: 8px solid #f3f3f3;
    border-top: 8px solid #4E75FF;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: fixed; 
     left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    z-index: 9999;
   
    
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.hidden {
    display: none;
}

.js-load {
    margin: 10px auto;
    
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
    .search-form {
        max-width: 750px;
    }
    .photo-card {
        flex-basis: calc((100% - 20px) / 2)
    }



}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
    .gallery {
            
        margin: -5px;
        }
    .photo-card {
        flex-basis: calc((100% - 100px) / 5);
        margin: 5px;
    }
}